:root {
  /* colors */
  --clr-bg: #e3e3e3;
  --clr-bg-darker: #d7d7d7;
  --clr-header: #e3e9ff;
  --clr-accent: orange;
  --clr-txt: #4f4f4f;
  --clr-border: #cacaca;

  --border-radius: 3px;
  --padding-std: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* The alert message box */
.alert {
  padding: calc(var(--padding-std) * 2);
  color: white;
  margin-bottom: 15px;
  border-radius: var(--border-radius);
  grid-column: 1 / -1;
}

.green {
  background-color: #1bc21b8c;
}
.red {
  background-color: #f44336;
}
.alert > a {
  color: white;
  font-weight: bold;
}

.closebtn {
  margin-left: 15px;
  color: var(--clr-txt);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 1em;
  cursor: pointer;
  transition: color 0.2s ease;
}

.closebtn:hover {
  color: white;
  /*  background-color: var(--clr-accent);
    border-radius: var(--border-radius);
    padding: 0 5px;
    margin-right: -5px;*/
}

.sidebar hr {
  width: -webkit-fill-available;
}

/* AUTOCOMPLETE RESULTS */

.autocomplete-suggestions {
  border: 1px solid var(--clr-border);
  border-radius: var(--border-radius);
  background: white;
  overflow: auto;
}
.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-selected {
  background: var(--clr-accent);
  color: white;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: var(--clr-accent);
}

.autocomplete-selected strong {
  font-weight: 900;
  color: white;
}

body {
  font-family: Roboto;
  font-size: smaller;
  background: var(--clr-bg);
}
h1 {
  margin: 0.6em 0;
}
h2 {
  display: flex;
  align-items: center;
  font: 1em Roboto, Calibri;
  color: black;
  letter-spacing: 0.063em;
  text-align: left;
  padding: 0 0 var(--padding-std);
  width: -webkit-fill-available;
  clear: both;
  margin-bottom: 1rem;
}

h2.form {
  margin: 0;
}
h2.form form.filter {
  height: 3.6em;
}

p.subtitle {
  margin: -16px 0 30px;
}

h3 {
  font: 0.9em Roboto, Calibri;
  margin-top: 0.375em;
  margin-bottom: 0.5em;
  text-align: left;
}

i:hover {
  color: var(--clr-accent);
}

.link:hover {
  cursor: pointer;
}

main {
  display: flex;
  padding: 50px 0px 0px 0px;
  background-color: white;
  min-height: calc(90vh - 102px);
}

/*-------------------------SECTIONS-------------------------*/
section.content {
  padding: var(--padding-std);
  width: -webkit-fill-available;
  min-height: calc(100vh - 133px);
}

section.content.flex {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

section.content.grid-2x {
  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, 1fr));
  grid-template-rows: max-content;
  gap: var(--padding-std);
}

section.content.grid-2x table {
  margin-right: 0;
}

section.sidebar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 45ch;
  min-height: calc(100vh - 133px);
  background-color: var(--clr-bg);
  border-right: 2px var(--clr-border) solid;
  padding: 0 var(--padding-std) var(--padding-std);
  position: relative;
  top: 0;
}

p.title {
  margin: 5px 0;
  padding: 0 5px;
  line-height: 2em;
  background-color: var(--clr-bg-darker);
  border-radius: var(--border-radius);
  font-weight: bold;
  color: var(--clr-txt);
}

section.sidebar p.title:first-child {
  margin-top: 10px;
}

span.active {
  display: flex;
  flex-direction: row;
  background-color: var(--clr-accent);
  color: white;
  padding: 5px;
  cursor: context-menu;
  border-radius: var(--border-radius);
  line-height: 1.5em;
}
span.inactive,
a.inactive {
  color: var(--clr-txt);
  padding: 5px;
  line-height: 1.5em;
}

a.inactive:hover {
  background-color: var(--clr-accent);
  color: white;
  border-radius: var(--border-radius);
}

.delimiter {
  display: none;
}

.pointer {
  cursor: pointer;
}

@media only screen and (max-width: 899px) {
  main {
    flex-direction: column;
  }
  section.sidebar {
    display: block;
    width: -webkit-fill-available;
    height: unset;
    min-height: auto;
    margin: 0;
    border-right: none;
    border-bottom: 2px solid var(--clr-border);
  }
  section.sidebar p.title {
    display: block;
    margin: 15px 0;
  }

  span.active {
    padding: 0 5px;
    margin-right: 5px;
  }

  section.sidebar form {
    display: block;
  }
  span.active,
  a.inactive {
    display: inline-block;
  }

  .delimiter {
    display: inline-block;
    color: var(--clr-txt);
  }
  section.sidebar .delimiter:last-child {
    display: none;
  }
}

body p {
  text-align: justify;
  margin-bottom: var(--padding-std);
}
body a {
  color: #0f0fcc;
  text-decoration: none;
}

a.grey {
  color: var(--clr-txt);
}

body a:hover,
.inline-fa:hover {
  color: var(--clr-accent);
  text-decoration: none;
}
.center {
  text-align: center;
  vertical-align: middle;
}
.alignLeft {
  text-align: left;
}
.alignRight {
  text-align: right;
}
.autoMargin {
  margin: auto;
}
.marginRight {
  margin-right: var(--padding-std);
}
.marginLeft {
  margin-left: var(--padding-std);
}
.noBorders {
  border: none;
}

.noPadding {
  padding: 0;
}

form {
  max-width: 810px;
  position: relative;
}
fieldset {
  border: solid 1px #b1b0b0;
  border-radius: var(--border-radius);
  margin: 0 0 var(--padding-std) 0;
  padding: var(--padding-std) var(--padding-std) 0;
}

fieldset.wSign {
  padding-right: 20px;
}

.padding {
  padding: var(--padding-std);
}
.flex,
.nav-links a {
  display: flex;
  gap: var(--padding-std);
  height: 3em;
  position: relative;
}
.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row {
  display: grid;
  gap: var(--padding-std);
  align-items: center;
  margin-bottom: var(--padding-std);
  position: relative;
}

.col-2 {
  grid-template-columns: 1fr 3fr;
}

.col-2__1wide {
  grid-template-columns: 1fr min-content;
}

.col-2e {
  grid-template-columns: 1fr 1fr;
}

.col-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.col-4__1st_wide {
  grid-template-columns: minmax(15ch, 1fr) repeat(3, min-content);
}
.col-5__1st_wide {
  grid-template-columns: minmax(15ch, 1fr) repeat(4, min-content);
}
.col-5__1wide {
  grid-template-columns: 0ch minmax(18ch, 1fr) repeat(3, min-content);
}
.col-6__1st_wide {
  grid-template-columns: minmax(15ch, 1fr) repeat(5, min-content);
}
.col-6__2wide {
  grid-template-columns: minmax(12ch, 1fr) minmax(12ch, 1fr) repeat(
      4,
      min-content
    );
}

.one-col {
  grid-column: 1 / -1;
}

label {
  align-self: center;
}

fieldset p.title {
  background-color: var(--clr-bg);
  line-height: 2em;
  padding: 5px;
  margin: var(--padding-std) 0;
  text-align: center;
  font-weight: bold;
  border-radius: var(--border-radius);
}

.flex-row {
  display: flex;
  flex: 13.7;
  flex-direction: row;
  flex-wrap: wrap;
}
.half {
  width: 50%;
}

.bold {
  font-weight: bold;
}

.short {
  width: 60px;
  text-align: center;
}
.medium {
  flex: 0;
  width: 100px;
  text-align: center;
}

a.form-inline {
  position: absolute;
  right: -20px;
  top: 11px;
}
.inline-fa {
  position: absolute;
  justify-self: end;
  color: var(--clr-txt);
}
fieldset i.fa-times,
.del_visit i {
  color: red;
}
fieldset i.fa-times:hover {
  cursor: pointer;
}

a.inside-input {
  position: absolute;
  top: 11px;
  right: 5px;
  z-index: 900;
}

.input-hdr,
input:read-only {
  background-color: transparent !important;
  border: none;
  padding: 6px;
  pointer-events: none;
}

input:disabled {
  background-color: var(--clr-bg);
}

input[name="discount[]"]::placeholder {
  font-size: xx-small;
}

form[name="auth"] {
  margin: 100px auto auto auto;
  width: -webkit-fill-available;
}

fieldset[name="auth"] {
  background: var(--clr-bg);
  box-shadow: 5px 5px 5px var(--clr-border);
  max-width: 500px;
}

fieldset[name="auth"] h2 {
  padding-top: var(--padding-std);
}

@media only screen and (min-width: 1024px) {
  form[name="auth"] {
    min-width: 500px;
  }
}

input,
select,
textarea {
  border: solid 1px #b1b0b0;
  padding: 5px;
  border-radius: var(--border-radius);
  outline: none;
  height: 3em;
}

input:focus,
select:focus,
textarea:focus {
  border-bottom-width: 2px;
  border-bottom-color: var(--clr-accent);
}

textarea {
  height: 88px;
}
input[type="checkbox"] {
  height: unset;
  align-self: center;
}
input[type="date"] {
  width: 100%;
}
select {
  cursor: pointer;
}

option {
  min-height: 2em;
  border-radius: var(--border-radius);
}

button,
.button,
input[type="submit"],
input[type="button"],
input[type="file"]::-webkit-file-upload-button {
  /*line-height: unset;*/
  height: 30px;
  padding: 0.5em;
  background: white;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  /*border: 1px solid var(--clr-accent);*/
  border: 1px solid var(--clr-border);
  color: var(--clr-txt);
  transition: 0.3s ease;
  font-family: Roboto;
}

a.button {
  display: block;
  width: fit-content;
}

.smaller-height {
  height: 2.5em;
}

button:hover,
input[type="submit"]:hover,
.button:hover,
input[type="button"]:hover,
input[type="file"]::-webkit-file-upload-button:hover,
button:focus,
input[type="submit"]:focus,
.button:focus,
input[type="button"]:focus,
input[type="file"]::-webkit-file-upload-button:focus {
  color: white;
  background-color: var(--clr-accent);
  border: 1px solid var(--clr-accent);
}

.middle-form-button {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

i {
  color: var(--clr-txt);
}
a > i:hover {
  color: var(--clr-accent);
}
i {
  padding: 0 5px;
}

form i.fa-comment:hover {
  cursor: pointer;
}

form.filter fieldset {
  /*display: flex;
	flex-wrap: wrap;
	gap: var(--padding-std);*/
  margin: 0;
  padding: 0;
}

form.filter fieldset > * {
  margin: 5px 0;
  padding: 5px;
  width: -webkit-fill-available;
  height: 30px;
}

/*form.filter fieldset input:nth-child(1n+2){
	margin-left: 5px;
}*/

select.filter.title {
  font: 1em Roboto, Calibri;
  border: none;
}

.photo {
  float: left;
  margin: var(--padding-std) var(--padding-std) var(--padding-std) 0;
  width: 34%;
  display: none;
}
.back {
  float: left;
}
.fwd {
  float: right;
}

/* 9  TABLES
-------------------------------------------------------------- */
/* нечетная строка таблицы класса stripy */
.stripy tr:nth-child(2n + 1) {
  background: #f3f3f3;
}

.card-container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}

div.card {
  position: relative;
  margin: var(--padding-std) var(--padding-std) 0 0;
  padding: var(--padding-std);
  border: 1px solid var(--clr-border);
  border-radius: var(--border-radius);
  width: 45ch;
}

.visit-cancelled {
  border-color: red !important;
}

.visit-cancelled::before {
  content: "X";
  position: absolute;
  top: 19px;
  right: 20px;
  color: red;
  font-weight: bold;
}

table.card {
  width: -webkit-fill-available;
  border: none;
  border-collapse: unset;
  margin-bottom: 40px;
}

table.card tr,
table.card td {
  border: none;
  padding: 0;
  margin: 0;
}

table.card td {
  padding: 0 5px;
}

table.card td:first-child {
  padding-left: 0;
}

table.card td:last-child {
  padding-right: 0;
}

table {
  margin: var(--padding-std) 0;
  table-layout: fixed;
  word-break: break-word;
  border-radius: var(--border-radius);
}

table,
tbody,
td,
tr,
th {
  vertical-align: middle;
  text-indent: 0;
  text-align: justify;
  border: 1px solid var(--clr-border);
  height: 2.5em;
  line-height: 1.7em;
  /*border-collapse: collapse;*/
  border-spacing: 0;
}
tbody,
td,
tr,
th {
  padding: 0 var(--padding-std) 0 var(--padding-std);
  height: 3.5em;
  border-collapse: collapse;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: var(--border-radius);
}

table tr:last-child td:last-child {
  border-bottom-right-radius: var(--border-radius);
}

th {
  background-color: var(--clr-header);
  text-align: center;
  font-weight: bold;
  color: var(--clr-txt);
}

td.strong,
th.strong {
  font-weight: bold;
  color: var(--clr-txt);
}
td.strong {
  border-bottom-style: double;
  border-bottom-color: var(--clr-txt);
}

.small {
  font-size: small;
}
.italic {
  font-style: italic;
}

.warning {
  color: red !important;
  margin: 0;
}

.spoiler-content {
  display: none;
}

.invoiceTotal,
.VAT {
  text-align: right;
  font-weight: bold;
}
.invoiceTotal {
  line-height: 4em;
}

span#invoiceTotal {
  font-size: x-large;
  margin-left: var(--padding-std);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* -------------- CALENDAR -------------- */
#cal_container {
  display: grid;
  grid-template-columns: 7ch repeat(auto-fit, minmax(0, 1fr));
  border: 1px solid var(--clr-border);
  border-radius: var(--border-radius);
  border-bottom: none;
}

.day {
  display: grid;
  grid-template-rows: 3em repeat(auto-fit, 0.75em);
  grid-template-columns: repeat(auto-fit, minmax(10px, 100%));
  padding: 0;
  margin: 0;
  position: relative;
  background: repeating-linear-gradient(
      45deg,
      rgba(202, 202, 202, 0.3) 30px,
      transparent 38px
    ),
    var(--clr-bg);
  border-left: 1px solid var(--clr-border);
}
.day:first-child {
  border: none;
}

/*.day i.fa-clock {transform:translateY(50%);}*/

div.grid-cell {
  border-bottom: 1px solid var(--clr-border);
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

div.grid-cell.grid-header {
  grid-column: 1 / 10;
  background-color: var(--clr-header);
  position: sticky;
  top: 50px;
  z-index: 10;
}

a.fill-div {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
}

.fill-div i {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.fill-div:hover {
  background-color: var(--clr-accent);
}
.fill-div i:hover,
.button i:hover,
.button:hover i,
.button:focus i {
  color: white;
}

/*div.grid-cell:last-child {border:none;}*/

.grid-cell p {
  width: auto;
  height: 100%;
  padding: 5px;
  overflow: hidden;
  margin: 0 5px;
}

p.cal-price {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--clr-bg);
  padding: 2px 0 0 5px;
  height: auto;
  pointer-events: none;
}

.gray-bg {
  /*background-color: var(--clr-bg);*/
  background: repeating-linear-gradient(
      45deg,
      rgba(202, 202, 202, 0.3) 30px,
      transparent 38px
    ),
    var(--clr-bg);
}

.gray-bg a {
  display: block;
  height: 100%;
  width: 100%;
}

.accent-bg {
  background: var(--clr-accent);
  color: white;
}

.accent-bg a,
.accent-bg a:hover {
  color: white;
}

.accent-bg p.cal-price,
p.accent-bg.cal-price {
  background: var(--clr-accent);
}

p.accent-bg.cal-price {
  border-radius: var(--border-radius);
  padding: 5px;
}

.timeline {
  display: block;
  position: absolute;
  z-index: 9;
  border: none;
  border-top: 2px solid var(--clr-accent);
  width: -webkit-fill-available;
  margin: 0 -5px;
  padding: 0;
}

.white-bg {
  background-color: white;
}

.time-close {
  transform: translateY(109%);
}

.todo {
  position: absolute;
  top: 100%;
  background: var(--clr-accent);
  border: 1px solid var(--clr-border);
  border-radius: var(--border-radius);
  width: -webkit-fill-available;
  z-index: 10;
}

.todo > .grid-cell p,
.todo > p.cal-price {
  background: var(--clr-accent);
}

.todo a {
  color: white;
}

.todo a:hover {
  color: var(--clr-txt);
}

.attention {
  position: absolute;
  bottom: 5px;
  color: var(--clr-accent);
}

/* ---------- DRAGULA Drag&Drop ---------- */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
}

/* ---------- TOOLTIP ----------*/
/* use "data-tooltip" attribute for content in html */
.tooltip {
  position: relative;
}

.tooltip::before,
.tooltip::after {
  --scale: 0;
  --arrow-size: 10px;

  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
}

.tooltip::before {
  --translate-y: calc(-100% - var(--arrow-size));

  content: attr(data-tooltip);
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  width: max-content;
  max-width: 18ch;
  background: var(--clr-accent);
}

.tooltip:hover::before,
.tooltip:hover::after {
  --scale: 1;
}

.tooltip::after {
  --translate-y: calc(-1 * var(--arrow-size));

  content: "";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--clr-accent);
  transform-origin: top center;
}

summary {
  cursor: pointer;
  font-weight: 700;
  color: var(--clr-txt);
  outline: none;
}

summary:hover,
summary:focus {
  color: var(--clr-accent);
}

#footer {
  border-top: 2px var(--clr-border) solid;
  min-height: 50px;
}

@media screen and (max-width: 600px) {
  .price-header {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  #cal_container {
    margin: 0 -10px;
    border-radius: none;
    border-left: none;
    border-right: none;
    font-size: smaller;
  }

  .grid-cell p {
    margin: 0;
    padding: var(--border-radius);
  }

  .grid-cell a {
    overflow-wrap: anywhere;
  }

  div.card {
    width: 100%;
    margin: var(--padding-std);
  }

  fieldset {
    border: 0;
    padding: 0;
  }

  .short {
    width: 40px;
  }
  .medium {
    width: 48px;
  }

  [class^="cosmSupplier"] + a {
    /* плюсик для добавления новой косметики */
    position: absolute;
    right: 0px;
    top: 8px;
  }

  .small {
    font-size: x-small;
  }

  table {
    width: 100%;
  }
  tbody,
  td,
  tr,
  th {
    padding: 0;
  }
}

@media screen and (max-width: 899px) {
  .mobile-hide,
  .price-mobile-header {
    display: none;
  }

  main {
    width: 100%;
  }

  .logo {
    padding-left: var(--padding-std);
  }

  section.content.grid-2x {
    grid-template-columns: 1fr;
  }

  #works > .col-6__2wide > :nth-child(3),
  #works > .col-6__2wide > :nth-child(4),
  .col-6__2wide > input[name="min"],
  .col-6__2wide > input[name="max"],
  .col-5__1st_wide > input[name="sold_price_total[]"] {
    display: none;
  }

  .mobile-2-span2 {
    grid-column: 2 / span 2;
  }
  .mobile-2-span3 {
    grid-column: 2 / span 3;
  }

  #employees i.far.fa-comment.fa-2x {
    font-size: 1em;
  }

  .fa-arrows-alt-v {
    cursor: move;
  }
}

@media screen and (min-width: 900px) {
  .desktop-hide {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  h2 {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  section.content.grid-2x > div {
    justify-self: center;
    box-shadow: 0 0 var(--padding-std) rgba(0, 0, 0, 0.1);
    width: -webkit-fill-available;
    height: auto;
    padding: var(--padding-std);
    border-radius: var(--border-radius);
  }

  .results {
    font-size: x-large;
  }
}
